* {
  margin: 0; /* always push top for margin. always!:) */
}

body {
  background-color: white;
}

.app_header {
  flex: 1 1 auto;
  background-color: white;
  height: 80px;
  justify-content: center;
  padding: 12px 4px 4px 16px;
  box-sizing: border-box;
  align-items: center;
}
